@charset "UTF-8";

* {
    font-family: 'Montserrat', Arial;
    font-size:20px;
}

body {
	color:#0a0a0a;
	margin: 0;
}

canvas { display: block; }

#container {
	position:relative;
}

#webglcanvas {
	border:none;
	background-color:#ffffff;
}