@charset "UTF-8";

body{
	background-color: #2D2F3A;
	color: white;
}

#webglcanvas {
	border:none;
	background-color:#ffffff;
}

#title {
	position:absolute;
	left:20px;
	top:20px;
	color:#e28383;
}

#prompt {
	position:absolute;
	bottom:20px;
	left:20px;
	color:#b8c3f5;
}

#status {
	position:absolute;
	bottom:20px;
	width:200px;
	height:40px;
	right:20px;
	color:#f4f5b8;
}

#rotation {
	position:absolute;
	left:20px;
	top:0px;
}

#scale {
	position:absolute;
	left:20px;
	top:20px;
}

#slider {
	width:100%;
	height:12px;
	background:#e9e9e9;
	margin-bottom: 20px;
}

#slider .ui-slider-handle {
	height:12px;
	top:-2px;
	width:16px;
}

#webglcanvas {
	background: #ffffff;
}


.controls{
	padding: 30px;
	padding-top: 60px;
	flex-grow: 2;
}

#buttons{
	display: flex;
	flex-direction: column;
	top: 635px;
}

#buttons button{
	margin-bottom: 10px;
	background-color: #0390E9;
	color: white;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

#buttons button:hover{
	background-color: #0071b8;
}

.section{
	display: flex;
}