*,
:after,
:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button:hover{
    cursor: pointer;
}

body {
    font-family: Lato, Helvetica, "sans-serif";
    background-color: #2B2B2B;
}

input::-webkit-color-swatch {
    border: none;
}

input[type=color]{
    width: 100%;
    padding: 0;
    border: none;
    border-color: transparent;
}

#paint {
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
}

.menu,
.menu-h {
    background-color: rgb(63, 65, 71);
    border: 2px solid rgb(38, 39, 41);
    border-radius: 4px;
    color: white;
}

.menu-h{
    height: 50px;
}

.menu .section {
    position: relative;
    padding: 15px;
    padding-top: 45px;
    margin-bottom: 25px;
}

.menu .section .icons{
    display: flex;
    flex-wrap: wrap;
}

.menu .section .icons .icon{
    margin-right: 15px;
}

.icon{
    font-size: 30px;
}

.btnSvg{
    width: 32px;
}

.btnSvg img{
    width: 100%;
    filter: brightness(0) invert(1);
    margin-top: 2px;
}

.btnSvg:hover{
    cursor: pointer;
}

.menu-h .section {
    display: flex;
    height: 100%;
    align-items: center;
}

.menu-h .section > *{
    margin-right: 20px;
}

.menu .section .title {
    background: rgb(85, 131, 203);
    background: linear-gradient(180deg, rgba(85, 131, 203, 1) 0%, rgba(102, 153, 212, 1) 100%);
    padding: 10px;
    position: absolute;
    top: -10px;
    left: -5px;
}

.menu-h .section .title {
    display: flex;
    align-items: center;
    background: rgb(85, 131, 203);
    background: linear-gradient(180deg, rgba(85, 131, 203, 1) 0%, rgba(102, 153, 212, 1) 100%);
    padding: 10px;
    top: 0px;
    left: 0px;
    height: 100%;
}

.title .text {
    color: white;
}

#tools {
    width: 300px;
    margin-right: 10px;
}

#paintCanvas {
    background-color: white;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
    color: white;
}