*,
:after,
:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button:hover{
    cursor: pointer;
}

body {
    font-family: Lato, Helvetica, "sans-serif";
    background-color: #2B2B2B;
}

input::-webkit-color-swatch {
    border: none;
}

input[type=color]{
    width: 100%;
    padding: 0;
    border: none;
    border-color: transparent;
}

#paint {
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
}

.menu,
.menu-h {
    background-color: rgb(63, 65, 71);
    border: 2px solid rgb(38, 39, 41);
    border-radius: 4px;
    color: white;
}

.menu-h{
    height: 50px;
}

.menu .section {
    position: relative;
    padding: 15px;
    padding-top: 45px;
    margin-bottom: 25px;
}

.menu .section .icons{
    display: flex;
    flex-wrap: wrap;
}

.icons button{
    margin-right: 15px;
}

.icon{
    font-size: 30px;
}

.selected .icon::before{
    color: rgb(53,153,42255) !important;
}

.btnSvg{
    width: 32px;
}

.btnSvg img{
    width: 100%;
    filter: brightness(0) invert(0.93);
    margin-top: 2px;
}

.btnSvg:hover{
    cursor: pointer;
}

.menu-h .section {
    display: flex;
    height: 100%;
    align-items: center;
}

.menu-h .section > *{
    margin-right: 20px;
}

.menu .section .title {
    background: rgb(85, 131, 203);
    background: linear-gradient(180deg, rgba(85, 131, 203, 1) 0%, rgba(102, 153, 212, 1) 100%);
    padding: 10px;
    position: absolute;
    top: -10px;
    left: -5px;
}

.menu-h .section .title {
    display: flex;
    align-items: center;
    background: rgb(85, 131, 203);
    background: linear-gradient(180deg, rgba(85, 131, 203, 1) 0%, rgba(102, 153, 212, 1) 100%);
    padding: 10px;
    top: 0px;
    left: 0px;
    height: 100%;
}

.title .text {
    color: white;
}

#options {
    width: 300px;
    margin-right: 10px;
}

#square div{
    border: 1px solid #f4f4f4;
    width: 28px;
    height: 28px;
}

#square.selected div{
    border:2px solid rgb(53,153,42255) !important;
}

#squareFill div{
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    width: 28px;
    height: 28px;
}

#squareFill.selected div{
    border:2px solid rgb(53,153,42255) !important;
    background-color: rgb(53,153,42255) !important;
}

#paintCanvas {
    background-color: white;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
    color: white;
}

.ranges{
    padding: 20px 0;
}

.ranges .subtitle{
    font-size: 16px;
}

.ranges .value{
    font-size: 12px;
    margin-left: 5px;
    color: rgba(255,255,255,0.5);
}

.ranges input{
    width: 100%;
}