@charset "UTF-8";

* {
	font-family: 'Montserrat', Arial;
	-webkit-box-sizing: border-box;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

body {
	/*background-color: rgb(224,248,249);*/
	color: #0a0a0a;
	margin: 0;
}

canvas {
	display: block;
}

#root {
	height: 100%;
	/*cursor: url('src/cursor.png') 8 0,default;*/
}

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: salmon;
}

#webglcanvas {
	position: absolute;
	border: none;
}

button{
	cursor: pointer;
}

button:disabled{
	cursor: not-allowed;
}

/* Controls
******************************************************/
#controls {
	z-index: 99;
	position: absolute;
	left: 5vw;
    right: 5vw;
    top: 5vw;
    bottom: 1vw;
	/*background-color: rgba(255, 0, 0, 0.5);*/
}

#controls .leftNav {
	display: flex;
	flex-direction: column;
	flex-flow: column nowrap;
	position: absolute;
}

/* Drag and Drop
******************************************************/
#dragAndDrop{
	pointer-events: all;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;

	opacity: 0;
}

#dropzoneContainer{
	height: 65px;
	display: flex;
}

#dropzone{
	display: flex;
	height: 100%;
	align-items: center;
	background-color: darkgray;
	min-width: 400px;
	color: white;
	padding: 0px 10px;
}

.floatText{
	position: absolute;
    z-index: 1;
}

#playTurn,
#resetLvl{
	margin-left: 10px;
}

#draggables{
	display: flex;
	height: 90px;
	align-items: center;
}

.draggable{
	cursor: pointer;
	background-color: gray;
    width: 55px;
	height: 55px;
	color: white;
	margin-right: 10px;
	z-index: 10;
	display: flex;
    align-items: center;
    justify-content: center;
}

.draggable.inStack{
	cursor: default;
}

.draggable:last-child{
	margin-right: 0;
}

/* Main Menu
******************************************************/
#mainMenu{
	padding: calc(12vw + 80px) 6vw 6vw calc(12vw + 130px);
}

/* Next Level
******************************************************/
#nextLevel{
	position: absolute;
}